.tle {
    background-color: aqua;
    width: 100%;
    height:33px;
    padding: 0%;
    margin: 0%;
}

h3,h6 {
    padding-left: 50px;
}

.shar {
    color: red;
}

#row1 {
    padding-left: 100px;
}
 
.lid {
    list-style: none;
}

#w123w {
    padding-bottom: 10px;
}

#hre {
    width: 80%;
}